<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>surahName</key>
		<string>الفاتحه</string>
		<key>pageNumber</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>البقره</string>
		<key>pageNumber</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>آل عمران</string>
		<key>pageNumber</key>
		<integer>49</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>النساء</string>
		<key>pageNumber</key>
		<integer>76</integer>
		<key>New item</key>
		<string></string>
	</dict>
	<dict>
		<key>surahName</key>
		<string>المائده</string>
		<key>pageNumber</key>
		<integer>105</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الانعام</string>
		<key>pageNumber</key>
		<integer>127</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الاعراف</string>
		<key>pageNumber</key>
		<integer>150</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الانفال</string>
		<key>pageNumber</key>
		<integer>176</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>التوبه</string>
		<key>pageNumber</key>
		<integer>186</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>يونس</string>
		<key>pageNumber</key>
		<integer>207</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>هود</string>
		<key>pageNumber</key>
		<integer>220</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>يوسف</string>
		<key>pageNumber</key>
		<integer>234</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الرعد</string>
		<key>pageNumber</key>
		<integer>248</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>ابراهيم</string>
		<key>pageNumber</key>
		<integer>254</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الحجر</string>
		<key>pageNumber</key>
		<integer>261</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>النحل</string>
		<key>pageNumber</key>
		<integer>266</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الاسراء</string>
		<key>pageNumber</key>
		<integer>281</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الكهف</string>
		<key>pageNumber</key>
		<integer>292</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>مريم</string>
		<key>pageNumber</key>
		<integer>304</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>طه</string>
		<key>pageNumber</key>
		<integer>311</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الانبياء</string>
		<key>pageNumber</key>
		<integer>321</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الحج</string>
		<key>pageNumber</key>
		<integer>331</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>المؤمنون</string>
		<key>pageNumber</key>
		<integer>341</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>النور</string>
		<key>pageNumber</key>
		<integer>349</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الفرقان</string>
		<key>pageNumber</key>
		<integer>358</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الشعراء</string>
		<key>pageNumber</key>
		<integer>366</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>النمل</string>
		<key>pageNumber</key>
		<integer>376</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>القصص</string>
		<key>pageNumber</key>
		<integer>384</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>العنكبوت</string>
		<key>pageNumber</key>
		<integer>395</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الروم</string>
		<key>pageNumber</key>
		<integer>403</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>لقمان</string>
		<key>pageNumber</key>
		<integer>410</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>السجده</string>
		<key>pageNumber</key>
		<integer>415</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الاحزاب</string>
		<key>pageNumber</key>
		<integer>418</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>سباء</string>
		<key>pageNumber</key>
		<integer>427</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>فاطر</string>
		<key>pageNumber</key>
		<integer>433</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>يس</string>
		<key>pageNumber</key>
		<integer>439</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الصافات</string>
		<key>pageNumber</key>
		<integer>445</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>ص</string>
		<key>pageNumber</key>
		<integer>452</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الزمر</string>
		<key>pageNumber</key>
		<integer>457</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>غافر</string>
		<key>pageNumber</key>
		<integer>466</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>فصلت</string>
		<key>pageNumber</key>
		<integer>476</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الشورى</string>
		<key>pageNumber</key>
		<integer>482</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الزخرف</string>
		<key>pageNumber</key>
		<integer>488</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الدخان</string>
		<key>pageNumber</key>
		<integer>495</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الجاثيه</string>
		<key>pageNumber</key>
		<integer>498</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الاحقاف</string>
		<key>pageNumber</key>
		<integer>501</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>محمد</string>
		<key>pageNumber</key>
		<integer>506</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الفتح</string>
		<key>pageNumber</key>
		<integer>510</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الحجرات</string>
		<key>pageNumber</key>
		<integer>514</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>ق</string>
		<key>pageNumber</key>
		<real>517</real>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الذاريات</string>
		<key>pageNumber</key>
		<integer>519</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string> الطور</string>
		<key>pageNumber</key>
		<integer>522</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>النجم</string>
		<key>pageNumber</key>
		<integer>525</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>القمر</string>
		<key>pageNumber</key>
		<integer>527</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الرحمن</string>
		<key>pageNumber</key>
		<integer>530</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الواقعه</string>
		<key>pageNumber</key>
		<integer>533</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الحديد</string>
		<key>pageNumber</key>
		<integer>536</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>المجادله</string>
		<key>pageNumber</key>
		<integer>541</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الحشر</string>
		<key>pageNumber</key>
		<integer>544</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الممتحنه</string>
		<key>pageNumber</key>
		<integer>548</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الصف</string>
		<key>pageNumber</key>
		<integer>550</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الجمعه</string>
		<key>pageNumber</key>
		<integer>552</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>المنافقون</string>
		<key>pageNumber</key>
		<integer>553</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>التعابن</string>
		<key>pageNumber</key>
		<integer>555</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الطلاق</string>
		<key>pageNumber</key>
		<integer>557</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>التحريم</string>
		<key>pageNumber</key>
		<integer>559</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الملك</string>
		<key>pageNumber</key>
		<integer>561</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>القلم</string>
		<key>pageNumber</key>
		<integer>563</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الحاقه</string>
		<key>pageNumber</key>
		<integer>565</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>المعارج</string>
		<key>pageNumber</key>
		<integer>567</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>نوح</string>
		<key>pageNumber</key>
		<integer>569</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الجن</string>
		<key>pageNumber</key>
		<integer>571</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>المزمل</string>
		<key>pageNumber</key>
		<integer>573</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>المدثر</string>
		<key>pageNumber</key>
		<integer>574</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>القيامه</string>
		<key>pageNumber</key>
		<integer>576</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الانسان</string>
		<key>pageNumber</key>
		<integer>577</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>المرسلات</string>
		<key>pageNumber</key>
		<integer>579</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>النبإ</string>
		<key>pageNumber</key>
		<integer>581</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>النازعات</string>
		<key>pageNumber</key>
		<integer>582</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>عبس</string>
		<key>pageNumber</key>
		<integer>583</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>التكوير</string>
		<key>pageNumber</key>
		<integer>585</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الانفطار</string>
		<key>pageNumber</key>
		<integer>586</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>المطففين</string>
		<key>pageNumber</key>
		<integer>586</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الانشفاش</string>
		<key>pageNumber</key>
		<integer>588</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>البروج</string>
		<key>pageNumber</key>
		<integer>589</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الطارق</string>
		<key>pageNumber</key>
		<integer>590</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الاعلي</string>
		<key>pageNumber</key>
		<integer>590</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الغاشيه</string>
		<key>pageNumber</key>
		<integer>591</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الفجر</string>
		<key>pageNumber</key>
		<integer>592</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>البلد</string>
		<key>pageNumber</key>
		<integer>593</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الشمس</string>
		<key>pageNumber</key>
		<integer>594</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الليل</string>
		<key>pageNumber</key>
		<integer>594</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الضحي</string>
		<key>pageNumber</key>
		<integer>595</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الشرح</string>
		<key>pageNumber</key>
		<integer>595</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>التين</string>
		<key>pageNumber</key>
		<integer>596</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>العلق</string>
		<key>pageNumber</key>
		<integer>596</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>القدر</string>
		<key>pageNumber</key>
		<integer>597</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>البينه</string>
		<key>pageNumber</key>
		<integer>597</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الزلزله</string>
		<key>pageNumber</key>
		<integer>598</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>العاديات</string>
		<key>pageNumber</key>
		<integer>598</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>القارعه</string>
		<key>pageNumber</key>
		<integer>599</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>التكاثر</string>
		<key>pageNumber</key>
		<integer>599</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>العصر</string>
		<key>pageNumber</key>
		<integer>600</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الهمزه</string>
		<key>pageNumber</key>
		<integer>600</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الفيل</string>
		<key>pageNumber</key>
		<integer>600</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>قريش</string>
		<key>pageNumber</key>
		<integer>601</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الماعون</string>
		<key>pageNumber</key>
		<integer>601</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الكوثر</string>
		<key>pageNumber</key>
		<integer>601</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الكافرون</string>
		<key>pageNumber</key>
		<integer>602</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>النصر</string>
		<key>pageNumber</key>
		<integer>602</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>المسد</string>
		<key>pageNumber</key>
		<integer>602</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الاخلاص</string>
		<key>pageNumber</key>
		<integer>603</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الفلق</string>
		<key>pageNumber</key>
		<integer>603</integer>
	</dict>
	<dict>
		<key>surahName</key>
		<string>الناس</string>
		<key>pageNumber</key>
		<integer>603</integer>
	</dict>
</array>
</plist>
